*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
p {
    font-weight: bold;
}
.sfondo {
    height: 100vh;
    width: 100%;
    background: #707070;
    position: relative;
}

header {
    height: 60px;
    background-color: green;
}

.pagina {
    height: 95%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

#right {
    width: 70%;
    float: left;
    background-color: #e2b150;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#left {
    width: 30%;
    background-color:#F5F5F5;
    float: left;
    height: 100%;
}
#notifiche {
    width: 100%;
    height: 50px;
    float: left;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    align-items: center;
}
#notifiche small {
    text-decoration: underline;
}
.cerca{
    float: left;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    align-items: center;
}

.contatto{
    height: 60px;
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#barra{
    width: 100%;
}
.search{
    width: 100%;
}
#right-top {
    height: 60px;
    width: 100%;
    background-color: #C8C8C8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;

}
#right-bottom{
    height: 60px;
    width: 100%;
    background-color: #C8C8C8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;

}

.conversazione {
    display: flex;
    align-items: center;
}
.chat{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}
.chat p {
    display:inline-block;
}
}
#right-bottom {
    height: 35px;
    width: 100%;
    background-color:#C8C8C8;
}
#left-top {
    height: 60px;
    width: 100%;
    float: left;
    background-color: #D8D8D8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#avatar {
height:58px;
}
