*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background: blue;
    position: relative;
}

header {
    height: 60px;
    background-color: green;
}

.foglio {
    height: 90%;
    width: 90%;
    position: absolute;
    top: 20px;
    left: 5%;
}

#right {
    width: 70%;
    float: left;
    background-color: coral;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left {
    width: 30%;
    float: left;
    background-color: purple;
    float: left;
    height: 100%;
}

#right-top {
    height: 35px;
    width: 100%;
    background-color: grey;
    float: left;

}
#right-bottom {
    height: 35px;
    width: 100%;
    background-color: black;
}
#left-top {
    height: 35px;
    width: 100%;
    background-color: red;
    float: left;
}
